<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    编辑界面<br>
    用户名: <span contenteditable="true" id="usname"> <%= data['username'] %> </span><br>
    权限： <span contenteditable="true" id="psword"> <%= data['admin'] %> </span><br>
    <input type="button" data-sub="<%= data['id'] %>" value="提交" id="sub">
    <script src="/js/jquery.js"></script>
    <script>
        $('#sub').click(function(){
            $.ajax({
                url: '/admin/user/edit',
                type: 'post',
                data: {
                    id: $(this).attr('data-sub'),
                    nm: $('#usname').html(),
                    ad: $('#psword').html()
                },
                success(data){
                    alert(data.status);
                    window.location.href = '/admin/user'
                }
            })
        })
    </script>
</body>
</html>