<div class="btn-group__archor">
    <button data-href="#masthead" class="btn btn-default center-block smooth-archor">
        <span class="glyphicon glyphicon-arrow-up text-muted"></span>
    </button>
    <button data-href="refresh" class="btn btn-default center-block smooth-archor">
        <span class="glyphicon glyphicon-refresh text-muted"></span>
    </button>
    <button data-href="#colophon" class="btn btn-default center-block smooth-archor">
        <span class="glyphicon glyphicon-arrow-down text-muted"></span>
    </button>
</div>