<footer class="site-footer" id="colophon">
    <div class="container">
        <div class="row">
            <div class="footer-menu">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">版权声明</a></li>
                    <li class="footer-menu__item"><a href="/shearImgData.html">图片剪裁</a></li>
                    <li class="footer-menu__item"><a href="">版权声明</a></li>
                    <li class="footer-menu__item"><a href="">版权声明</a></li>
                    <li class="footer-menu__item"><a href="">版权声明</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>